<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arjundabbe.jivanman">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/jivanman_name"
        android:label="जीवनमान"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jivanman"
        tools:targetApi="31">
        <activity
            android:name=".ui.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.PortraitCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.IdCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyQrActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_my_location" />
        <activity
            android:name=".ui.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Jivanman" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXKrtmMVOvzYhO9YDMYIdILpIThd8WW3w" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>